# Biến môi trường chọn loại cơ sở dữ liệu (mysql hoặc postgresql)
DB_TYPE=mysql

# Cấu hình MySQL
MYSQL_DB_HOST=localhost
MYSQL_DB_PORT=3306
MYSQL_DB_NAME=your_mysql_db_name
MYSQL_DB_USERNAME=your_mysql_username
MYSQL_DB_PASSWORD=your_mysql_password

# Cấu hình PostgreSQL
POSTGRES_DB_HOST=your_postgres_host
POSTGRES_DB_PORT=5432
POSTGRES_DB_NAME=your_postgres_db_name
POSTGRES_DB_USERNAME=your_postgres_username
POSTGRES_DB_PASSWORD=your_postgres_password
